*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
body{
    background: rgb(118, 107, 107);
}
.form-container{
    height:1550px;
    width: 600px;
    margin: 20px auto;
}
.form-container form {
    height: 1550px;
    width: 500px;
    margin: auto;
    
    background-image: conic-gradient(from -75deg, rgb(127, 117, 196), rgb(48, 6, 48));
    padding: 30px;
    text-transform: capitalize;
    border-radius: 30px;
    color: white;
}
.form-container form h3{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(48, 6, 48);
}
.form-container form label, p {
    font-size: 1.3rem;
    padding: 3px 0;
}
.form-container form input:not([type="radio"]), select, textarea{
    padding: 8px;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    border: none;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-container form input[type=submit]{
    align-self: flex-end;
    height: 30px;
    width: 60px;
    font-size: 100%;
    cursor: pointer;
} 
.form-container form input[type=radio]{
    margin-right: 15px;
} 

  